body {
	width: 80%;
	max-width: 1024px;
	margin: 10px auto;
	background-color: cornsilk;
}

.nav-links {	
	display: inline;
}

#title {
	color: rgb(32, 103, 233);
	font-style: italic;
	font-size: 40px;
	font-weight: 600;
}

a {
	float: left;
	text-decoration: none;
	color: cornflowerblue;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;	
	margin: 10px 5% 0 0;
}

a:hover {
	color: rgb(32, 103, 233);
	font-weight: 800;
}

hr {
	border-top-style:ridge;
	border-color: royalblue ;
}

.container-padding50 {
	padding-bottom: 10px;
}

.container {
	text-align: right;
}

.container-textinput {
	width: 40%;
	display: inline;
	padding: 10px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	font-style: italic;
	border-radius: 5px;
	border-color: royalblue;
}

.container-textinput:hover {
	border-color: rgba(65, 105, 225, 0.514)
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 3px 7px 7px 7px;
	background-color:rgba(65, 105, 225, 0.514);
	color: white;
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	border: 2px solid royalblue;
	border-radius: 5px;
	text-align: center;
}

.container-button:hover {
	color: royalblue;
}

.keyword {
	color: rgb(32, 103, 233);
	font-size: 30px;
	font-style: italic;
	font-weight: 700;
}

.jscontainer-image {
	width: 30%;
	display: block;
	float: left;
	margin: 0 1% 1% 2%;
}

.about-us {
	padding: 5%;
	color: royalblue;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	text-align: center;
}

#contactLink {
	color: rgb(36, 35, 35);
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	padding: 0 20% 0 0;
}

.links {	
	padding: 3% 25% 0 35%;
	text-align: center;
}

